<article class="card">
  <div class="card-media" *ngIf="post.imageUrl" aria-hidden="true">
    <img [src]="post.imageUrl" [alt]="post.title" />
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ post.title }}</h3>
    <p class="card-excerpt">{{ post.excerpt }}</p>

    <div class="card-meta">
      <span class="author">{{ post.authorName }}</span>
      <span class="dot">•</span>
      <time class="date">{{ post.publishedAt | date:'mediumDate' }}</time>
    </div>

    <div class="card-tags" *ngIf="post.tags && post.tags.length > 0">
      <span class="tag" *ngFor="let t of post.tags">{{ t }}</span>
    </div>

    <div class="card-actions">
      <a [routerLink]="['/post', post.id]" class="btn-read">Read More</a>
      <span class="comments">{{ post.commentsCount }} comments</span>
    </div>
  </div>
</article>